<%- include('../partials/header') %>

<h2>PURCHASE YOUR TICKET</h2>
<section id="badge-container">
  <% tickets.forEach(function(t) { %>
    <article class="badge"><%= t.name %></article>
  <% }) %>
</section>

<form action="/flights/<%= flight._id %>/tickets/new" method="POST">
    <label>Seat:
        <div>Please choose: A-F followed by a seat number 1-99</div>
        <input name="seat" required pattern="[A-F][1-9]\d?">
    </label><br>
    <label>Price:
        <!-- <input type="number" name="price"> -->
    </label><br>
    <input type="submit" value="New Ticket" id="button">
</form>

<%- include('../partials/footer') %>