
* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #00B7FF;
}

body {
  margin: 0 10vh;
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-destination-form *,
#add-ticket-form * {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-destination-form,
#add-ticket-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-destination-form input[type="submit"],
#add-ticket-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

#newflights {
  font-size: 5vmin;
  color:#E8ECEB;
  padding: 5px;
  border-radius: 5px;
}

#allflights {
  font-size: 5vmin;
  color:#E8ECEB;
  padding: 5px;
  border-radius: 5px;
}

#flightairline {
  display: flex;
  align-content: flex-start;
}

#flightairport {
  margin: 0;
}

#destinationairport {
  display: flex;
  align-content: flex-start;
}

#destinationdate {
  margin-left: 0;
  text-align: left;
}

h2 {
  color: rgb(97, 94, 94);
  padding: 5px;
  border-radius: 5px;
}

#ticketseat {
  display: flex;
  align-content: flex-start;
}

#ticketprice {
  margin-left: 0;
  text-align: left;
}

#seat {
  font-size: 3vmin;
  font-weight: bold;
}

#seatchoice {
  font-size: 2vmin;
  font-style: italic;
}