<%- include('../partials/header') %>
<br>
<h2>BOOK YOUR FLIGHT:</h2>
<br>
<form action="/flights" method="POST">
	<label>Airline:
		<select name="airline">
			<option value="American">American</option>
			<option value="Southwest">Southwest</option>
			<option value="United">United</option>
		  </select>
	</label><br><br>
	<label>Airport:
		<select name="airport">
			<option value="AUS">AUS</option>
			<option value="DFW">DFW</option>
			<option value="DEN">DEN</option>
			<option value="LAX">LAX</option>
			<option value="SAN">SAN</option>
		  </select>
	</label><br><br>
	<label>Flight Number:
		<input type="number" name="flightNo">
	</label><br><br>
    <span>Departs: </span>
    <input type="datetime-local" required name="departure"> 
    <br><br>
	<input type="submit" value="Book Flight">
</form>

<%- include('../partials/footer') %>